@{
    ViewBag.Title = "About us";
}
@Styles.Render("~/Content/About.css")
<h2>
    @ViewBag.Title
</h2>
<body>
   
    <div class="left">
        <p><img src="~/Photoes/backgrund.png" alt="Girl in a jacket" width="400" height="500" ></p>
    </div>
    <div class="right">
        <h3>Company profile</h3>
        <br />
        <text x="0" y="20" font-family="Verdana" font-size="30" fill="black">
            Danven ApS is located in Aalborg Denmark. It is an office authorized by <br />
            the Danish DCW company in the Greater China region to undertake<br /> the import declaration and technical services of DCW equipment <br />
            in China, Taiwan, Hong Kong and Macau. <br /><br />  We have strong strength and professional technical team, strictly<br />
            implement DCW's full service system, reflect DCW's service philosophy, <br />and serve you wholeheartedly.
        </text>
    </div>

</body>
