
@{
    ViewBag.Title = "LowChlorineSeries";
}
@Styles.Render("~/Content/ProductView.css")
<h2>LowChlorineSeries</h2>
<body>
    <div class="left">
        <br />
        <br />
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" runat="server"
                style=" background-color:lawngreen; width:155px;height:35px" onclick="location.href='@Url.Action("Index", "Product", new {Id = 1})'">
            Standard series
        </button>
        <br />
        <br />
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" runat="server"
                style=" background-color:lawngreen; width:155px;height:35px" onclick="location.href='@Url.Action("Index", "Product", new {Id = 2})'">
            Low chlorine series
        </button>
        <br />
        <br />
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" runat="server"
                style=" background-color:lawngreen;  width:155px;height:35px" onclick="location.href='@Url.Action("Index", "Product", new {Id = 3})'">
            Horticultural series
        </button>
    </div>
    <div class="right">
        @if (ViewBag.Situation == 1) {

            <h3>
                T05-LC TECHNICAL DATA
            </h3>
            <img src="~/Photoes/prod2-1.png" width="350" height="550" style=" text-align: center;
        position: relative; top:50px">
            <br />
            <br />
            <br />
            <h3 x="0" y="20" font-family="Verdana" font-size="30" fill="black" style=" text-align: center">
                T05-LC
            </h3>
            <img src="~/Photoes/prod2-1T.png" width="620" height="800" style=" text-align: center;
        position: relative; top:100px">


        } else if (ViewBag.Situation == 2) {
            <h3>
                T15-LC TECHNICAL DATA
            </h3>
            <img src="~/Photoes/prod2-2.png" width="350" height="550" style=" text-align: center;
        position: relative; top:50px">
            <br />
            <br />
            <br />
            <h3 x="0" y="20" font-family="Verdana" font-size="30" fill="black" style=" text-align: center">
                T15-LC
            </h3>
            <img src="~/Photoes/prod2-2T.png" width="620" height="700" style=" text-align: center;
        position: relative; top:100px">

        } else if (ViewBag.Situation == 3) {
            <h3>
                T25-LC TECHNICAL DATA
            </h3>
            <img src="~/Photoes/prod2-3.png" width="370" height="550" style=" text-align: center;
        position: relative; top:50px">
            <br />
            <br />
            <br />
            <h3 x="0" y="20" font-family="Verdana" font-size="30" fill="black" style=" text-align: center">
                T25-LC
            </h3>
            <img src="~/Photoes/prod2-3T.png" width="620" height="700" style=" text-align: center;
        position: relative; top:100px">
        }
    </div>
</body>
